body {
  font-family: sans-serif;
  /* background-color: rgb(225, 255, 213); */
  margin: 20px;
  min-width: 600px;
  height: 1200px;
}

#customList-container {
  /* margin-top: 200px;
  height: 800px; */
}

body div {
  /* border: 1px #ccc solid; */
}

#ui-title {
  font-weight: bold;
  font-size: 14pt;
}

.btn {
  background-color: black;
  color: white;
  cursor: pointer;
  height: 30px;
}

.btn-pred {
  font-size: 17px;
  width: 200px;
  height: 50px;
  position: absolute;
  top: 740px;
  left: 50%;
  margin-left: -100px;
}

.btn-remove-input {
  background-color: red;
  height: 24px;
  width: 24px;
}

.input-cls {
  position: absolute;
  width: 5px;
  top: 90px;
  /* top: 150px; */
  right: 38px;
}

#container-choose-img {
  /* position: absolute; */
  /* display: none; */
  background-color: black;
  color: white;
  height: 600px;
}

.prev-img {
  border: 2px solid white;
}

#prev-div {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 550px;
}

.prev-sub-div {
  display: flex;
  /* border: 1px #ccc solid; */
  margin-left: 10px;
  margin-top: 10px;
}

#loading-div {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  display: none;
  z-index: 200;
}

#loading-div div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 15px; */
  height: 725px;
  margin-top: 79px;
  background-color: rgb(63, 63, 63);
  opacity: 0.6;
}

#loading-div div img {
  position: absolute;
  clip: rect(16px, 169px, 166px, 20px);
  margin-left: 13px;
  height: 200px;
}

/* index.html */
.uploaded-img {
  height: 400px;
}

.uploaded-img-map,
.uploaded-img-map-sub {
  position: absolute;
  height: 400px;
  /* max-width: 600px; */
  /* right: 20px; */
  top: 129px;
}

.uploaded-img-map {
  display: none;
}

.uploaded-img-map-sub {
  display: none;
}

.side-notes {
  position: absolute;
  left: 841px;
  top: 544px;
}

.div-hidden {
  /* display: none; */
}

.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
  height: 50px;
}

.tab-sol {
  /* width: 300px; */
  width: 200px;
}

.tab .tab-links,
.tab .tab-links-sol {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  height: 50px;
  width: 100px;
}

#tab-add {
  background-color: black;
  color: white;
  width: 110px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: black;
  color: white;
  cursor: pointer;
}

.tab-content,
.tab-content-sol {
  display: none;
}

.tab-right-div {
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 79px;
}

.refresh-div {
  width: 110px;
}

@media (max-width: 655px) {
  .tab-right-div {
    left: 593px;
  }
  .refresh-div {
    left: 525px;
  }
  .tab,
  .tab-content,
  .tab-content-sol,
  #container-choose-img {
    /* left: 317px; */
    width: 615px;
  }
  #inputfile {
    left: 612px;
  }
  .btn-pred {
    left: 327px;
  }
}

/* Flexbox */
.container-flexbox {
  display: flex;
  flex-direction: column;
}

/* .container-flexbox div {
  border: 1px #ccc solid;
  padding: 10px;
} */

.container-title {
  flex: 1;
  /* max-width: 600px; */
  max-height: 60px;
  overflow-y: auto;
}
.container-top {
  flex: 1;
}

/* Middle sec */
.scrolling-wrapper {
  overflow-x: auto;
  /* overflow-x: hidden; */
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 50px;
}

.card {
  display: inline-block;
  width: 400px;
  height: 200px;
  background: rgb(202, 202, 202);
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 2px;

  /* cursor: all-scroll; */
}

.card-top {
  cursor: pointer;
  border: 5px;
  border-color: white;
  border-style: dotted;
  width: 200px;
}

.scrolling-wrapper {
  /* border: 1px #ccc solid; */
  width: 100%;
  /* -webkit-overflow-scrolling: touch; */
}

.btn-card {
  height: 30px;
  width: 140px;
}

.card-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* Bottom sec */

.container-btm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.err-content {
  flex: 1;
  min-width: 400px;
  padding: 10px;
}

.err-example {
  padding: 10px;
}

.img-window {
  background-color: black;
  height: 220px;
  overflow-y: scroll;
  width: 325px;
}

.img-example {
  /* width: 240px; */
  /* width: 150px; */
  height: 110px;
}

/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-input:checked + .slider {
  background-color: #2196f3;
}

.toggle-input:focus + .slider {
  box-shadow: 0 0 3px #2196f3;
}

.toggle-input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Crop prev */
.image-cropped {
  border: 3px solid black;
  background-color: rgb(141, 141, 141);
}

/* Crop panel */
.cropper-modal {
  opacity: 0.2;
}

#crop-panel {
  position: absolute;
  top: 129px;
  width: 1700px;
}

#preview-container {
  height: 400px;
  max-width: 800px;
}

#crop-form button {
  float: right;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.image-uploaded {
  display: none;
}

#show-crop-panel-btn {
  position: absolute;
  z-index: 1000;
}

.list-container {
  display: flex;
  align-items: center;
}

.list-container button {
  margin-right: 10px;
}

#crop-btn {
  background-color: lightgreen;
  color: black;
}

#reset-crop-btn {
  background-color: red;
  color: black;
}

#upload-crop-btn {
  position: absolute;
  top: 358px;
  left: 949px;
  z-index: 1000;
}

/* Solutions */
#solution-div {
  overflow-y: scroll;
  max-height: 340px;
  margin-top: 15px;
}

.sub-sol {
  background-color: lightgray;
  display: flex;
  margin-bottom: 20px;
}

.sub-sol-left {
  flex: 9;
  padding: 10px;
}

.sub-sol-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.thumb {
  width: 60px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  margin: 1px;
}

.thumb-div {
  width: 124px;
}

.thumb-up {
  background: lightgreen;
}
.thumb-down {
  background: red;
}

.post-link {
  margin-bottom: 5px;
  width: 122px;
  height: 40px;
}

#suggest-btn-div {
  display: flex;
  justify-content: center;
  height: 70px;
}

.suggest-btn {
  /* background-color: lightgray;
  color: black; */
  margin-top: 10px;
  width: 170px;
  height: 30px;
}

/* Printer settings */
#open-setting-div {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.setting-div {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  margin-right: 20%;
  margin-left: 20%;
  /* margin-right: 175px;
  margin-left: 175px; */
}

.set-left {
  display: flex;
}

.set-sub-div {
  /* display: flex; */
}

.set-label {
  font-weight: bold;
}

.set-radio-div {
  margin: 10px;
  /* float: left; */
  /* display: flex;
  flex-direction: column; */

  /* flex: 15; */
}

.set-text-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 25px;
}

.set-sub-div input[type="text"] {
  /* flex: 1; */
}

.set-btm {
  display: flex;
  justify-content: center;
}

#submit-setting {
  width: 90px;
  margin: 10px;
}

#setting-text {
  font-weight: bold;
}

/* Sankey CSS */
.container-btm,
.tab-content-sol {
  height: 1200px;
}

.san-node {
  width: 20px;
  word-wrap: break-word;
}

.san-node rect {
  cursor: move;
  fill-opacity: 0.9;
  shape-rendering: crispEdges;
}

.san-node text {
  pointer-events: none;
  /* text-shadow: 0 1px 0 #fff; */
  fill: #fff;
}

.san-link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}

/* .san-link:hover {
  stroke-opacity: 0.5;
} */

#san-node-layershifting {
  height: 50px;
}

#san-node-mechanical,
#san-node-software {
  /* height: 50px; */
}

#san-node-clue1,
#san-node-clue2,
#san-node-clue3,
#san-node-clue4,
#san-node-clue5 {
  /* height: 30px; */
}

#san-g-layershifting,
#san-link-layershifting-mechanical,
#san-link-layershifting-software {
  display: none;
}

#san-link-0,
#san-link-1 {
  display: none;
}

/* 
tspan {
  font: bold 10px sans-serif;
  fill: red;
} */

/* Sankey content display box */
#sankey-content {
  position: absolute;
  padding: 10px;
  height: 200px;
  width: 650px;
  background-color: lightyellow;
  border: 1px #ccc solid;
  word-wrap: break-word;
  z-index: -1;
}
