<!DOCTYPE html>
<html>
<link href="../static/css/customList.css" rel="stylesheet" />
<body>

<div id="clue_placeholder">
<div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Clues</button>
      <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            <div id="myBtnContainer">

                <button class="btn active" onclick="filterSelection('all')">All solutions</button>
              <button class="btn" onclick="filterSelection('a')">Skip appears to be in both the x and y axis</button>

                <button class="btn" onclick="filterSelection('a')">I heard a grinding noise while printing</button>
                <button class="btn" onclick="filterSelection('a')">The bed or extruder not moving during the failure event</button>
                <button class="btn" onclick="filterSelection('a')">I heard a clicking sound</button>
                <button class="btn" onclick="filterSelection('b')">Layer misalignment is a reoccurring problem</button>
                  <button class="btn" onclick="filterSelection('c')">None of clues above has spotted</button>

            </div>
      </div>
    </div>
</div>

<div id="solution_placeholder">

    <div class="filterDiv a">
        <div class="popover__wrapper">
            <a href="" class="popover__title">Toolhead</a>

            <span class="popover__content">
                <p class="popover__message">Toolhead</p>
                <img alt="LulzBot toolhead" src="../static/3d_info/desc_images/toolhead.jpg" style="width:300px">
                <p class="popover__message">The 3D printing Toolhead allows you to 3D print objects using the FFD (fuse filament deposition) method. This method consists in thermo extrude plastic filament through a hot-end.</p>
                <p class="popover__message" style="color:dodgerblue">Related terms: extruder, hotend, nozzle, print head</p>
              </span>
        </div>
        is moving too fast. <br> Slow down the printing speed. I find all jerk settings should be 10mm/s and master print speed shouldn't really go over 40mm/s if you want a quality print on *most* machines. It may also be prudent to check and possibly reduce acceleration speeds.</div>

    <div class="filterDiv a">Belt is too loose/tight. <br>Check your x and y axis belts. When perfectly tensioned, they twang somewhat like a guitar string. If under tensioned, you'll get lines like these. If over tensioned, you could have some defects in prints but the danger is mostly to the motor and belt itself. There are videos you can watch for this, as well as belt tensioners you can print. </div>
    <div class="filterDiv b">Set-screw is too loose, not tightened well / pulley loose</div>
    <div class="filterDiv c">Not enough electrical current getting to the motors</div>




</div>

<script src="../static/js/customList.js"></script>

</body>
</html>

