{% extends 'base.html' %} {% block head %}
<title>3DTroubleshooter</title>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>

<script class="datajs" src="../static/js/errDB.js"></script>
<script class="datajs" src="../static/js/sankey.js"></script>
<script class="datajs" src="../static/js/sankeyDB.js"></script>

<link href="../static/css/customList.css" rel="stylesheet" />
<script src="../static/js/jquery.min.js"></script>
<link href="../static/css/main.css" rel="stylesheet" />

<!--! Image Crop ------------------------------------------------------------------------ -->
<link href="../static/dist/cropper.min.css" rel="stylesheet" />
<script src="../static/dist/cropper.min.js"></script>

<script class="cropjs" src="../static/js/crop.js"></script>

<style></style>

{% endblock %} {% block body %}

<div class="container-flexbox">
  <div class="container-title">
    <!-- <h3>New UI Layout: {{ output }}</h3> -->
    <p id="ui-title">3DTroubleshooter</p>
  </div>

  <!-- <p id="input-storedata2" style="position: absolute; top: 1200px">Input:</p> -->
  <div class="container-top">
    <div class="tab">
      {% for i in range(n_img) %}
      <button
        class="tab-links"
        onclick="openTab(event, 'up-img-{{ i }}')"
        id="defaultOpen"
      >
        Image {{ i+1 }}
      </button>
      {% endfor %}

      <div class="tab-right-div refresh-div">
        <a href="{{ url_for('index') }}"
          ><button class="tab-links" id="tab-add" type="reset">
            Start Over
          </button></a
        >
      </div>
    </div>

    {% for i in range(n_img) %}
    <div class="tab-content" id="up-img-{{ i }}">
      <img
        class="uploaded-img"
        src="{{ img_format }}{{ img_path[i] | safe }}"
        alt=""
      />

      <div class="div-hidden">
        <img
          class="uploaded-img-map-sub uploaded-img-map-sub-{{ i }}"
          src="{{ img_format }}{{ img_path_cam[0][i] | safe }}"
          alt=""
          id="sub-map-0-{{ i }}"
        />

        <img
          class="uploaded-img-map-sub uploaded-img-map-sub-{{ i }}"
          src="{{ img_format }}{{ img_path_cam[1][i] | safe }}"
          alt=""
          id="sub-map-1-{{ i }}"
        />

        <img
          class="uploaded-img-map-sub uploaded-img-map-sub-{{ i }}"
          src="{{ img_format }}{{ img_path_cam[2][i] | safe }}"
          alt=""
          id="sub-map-2-{{ i }}"
        />

        <img
          class="uploaded-img-map-sub uploaded-img-map-sub-{{ i }}"
          src="{{ img_format }}{{ img_path_cam[3][i] | safe }}"
          alt=""
          id="sub-map-3-{{ i }}"
        />

        <img
          class="uploaded-img-map-sub uploaded-img-map-sub-{{ i }}"
          src="{{ img_format }}{{ img_path_cam[4][i] | safe }}"
          alt=""
          id="sub-map-4-{{ i }}"
        />
      </div>

      <!-- <button
        class="btn"
        id="show-crop-panel-btn"
        onclick="createCropDiv('up-img-{{ i }}'); showHideDiv('crop-div-all')"
      >
        Crop Image
      </button> -->

      {% if init_hide == False %}
      <div class="scrolling-wrapper">
        {% for j in range( card_info[i] | length ) %}
        <div class="card">
          <div class="card-flex">
            <div
              class="card-top card-top-{{ i }}"
              id="card-top-{{ i }}-{{ j }}"
              onclick="showHideMap_click(this.id, '{{ card_info[i][j] }}', '{{ i }}')"
              onmouseover="showHideMap_on(this.id, '{{ card_info[i][j] }}', '{{ i }}')"
              onmouseout="showHideMap_off(this.id, '{{ card_info[i][j] }}', '{{ i }}')"
            >
              <h5>Failure #{{ j+1 }}</h5>
              <h3>
                {{ card_info[i][j].split('-')[1] }} ({{ (card_info_prob[i][j] *
                100) | round(1) }} %)
              </h3>
            </div>
            <div class="card-btm">
              <button
                class="btn btn-card"
                name="{{ card_info[i][j].split('-')[1] }}"
                onclick="addText(this.name);"
                id="btn-info-{{ i }}-{{ j }}"
              >
                What is this?
              </button>
              <button
                class="btn btn-card"
                name="{{ card_info[i][j].split('-')[1] }}"
                onclick="showSolution(this.name); 
                document.getElementById('defaultOpen_sol').click();"
              >
                How to solve?
              </button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<div id="open-setting-div">
  <!-- <input
    type="button"
    id="open-setting-btn"
    class="btn"
    value="Tell us more about your settings"
    onclick="showHideDiv('printer-setting', 'flex');"
  /> -->
</div>
<div id="printer-setting" class="setting-div">
  <p id="setting-text">
    Please provide printing details as many as you can for better suggestions :)
  </p>
  <form>
    <div class="set-left">
      <div class="set-sub-div">
        <div class="set-radio-div">
          <label class="set-label">Printer:</label><br />
          <input type="radio" id="printer-1" name="set-printer" value="ender" />
          <label for="printer-1">Ender</label><br />
          <input type="radio" id="printer-2" name="set-printer" value="prusa" />
          <label for="printer-2">Prusa</label><br />
          <input type="radio" id="printer-3" name="set-printer" value="cr-10" />
          <label for="printer-3">CR-10</label><br />
          <input type="radio" id="printer-4" name="set-printer" value="anet" />
          <label for="printer-4">Anet</label><br />
          <input
            type="radio"
            id="printer-5"
            name="set-printer"
            value="anycubic"
          />
          <label for="printer-5">Anycubic</label><br />
          <input
            type="radio"
            id="printer-6"
            name="set-printer"
            value="monoprice"
          />
          <label for="printer-6">Monoprice</label><br />
          <input
            type="radio"
            id="printer-7"
            name="set-printer"
            value="others"
          />
          <label for="printer-7">Others</label>
        </div>
      </div>

      <div class="set-sub-div">
        <div class="set-radio-div">
          <label class="set-label">Slicer:</label><br />
          <input type="radio" id="slicer-1" name="set-slicer" value="cura" />
          <label for="slicer-1">Cura</label><br />
          <input
            type="radio"
            id="slicer-2"
            name="set-slicer"
            value="prusaslicer"
          />
          <label for="slicer-2">Prusaslicer</label><br />
          <input
            type="radio"
            id="slicer-3"
            name="set-slicer"
            value="simplify3d"
          />
          <label for="slicer-3">Simplify3d</label><br />
          <input
            type="radio"
            id="slicer-4"
            name="set-slicer"
            value="creality slicer"
          />
          <label for="slicer-4">Creality slicer</label><br />
          <input type="radio" id="slicer-5" name="set-slicer" value="slic3r" />
          <label for="slicer-5">Slic3r</label><br />
          <input type="radio" id="slicer-6" name="set-slicer" value="others" />
          <label for="slicer-6">Others</label>
        </div>
      </div>

      <div class="set-sub-div">
        <div class="set-radio-div">
          <label class="set-label">Material:</label><br />
          <input type="radio" id="material-1" name="set-material" value="pla" />
          <label for="material-1">PLA</label><br />
          <input
            type="radio"
            id="material-2"
            name="set-material"
            value="petg"
          />
          <label for="material-2">PETG</label><br />
          <input
            type="radio"
            id="material-3"
            name="set-material"
            value="nylon"
          />
          <label for="material-3">Nylon</label><br />
          <input type="radio" id="material-4" name="set-material" value="abs" />
          <label for="material-4">ABS</label><br />
          <input type="radio" id="material-5" name="set-material" value="tpu" />
          <label for="material-5">TPU</label><br />
          <input
            type="radio"
            id="material-6"
            name="set-material"
            value="others"
          />
          <label for="material-6">Others</label>
        </div>
      </div>
    </div>

    <div class="set-text-div">
      <div class="set-sub-div">
        <label class="set-label">Nozzle temperature:</label>
        <input type="text" id="set-nozzle-temp" />
      </div>

      <div class="set-sub-div">
        <label class="set-label">Bed temperature:</label>
        <input type="text" id="set-bed" />
      </div>

      <div class="set-sub-div">
        <label class="set-label">Print speed:</label>
        <input type="text" id="set-speed" />
      </div>

      <div class="set-sub-div">
        <label class="set-label">Retraction distance:</label>
        <input type="text" id="set-retract-dist" />
      </div>

      <div class="set-sub-div">
        <label class="set-label">Retraction temperature:</label>
        <input type="text" id="set-retract-temp" />
      </div>
    </div>

    <div class="set-sub-div set-btm">
      <input type="button" class="btn" id="submit-setting" value="Submit" />
    </div>
  </form>
</div>

<!--! Image Crop ------------------------------------------------------------------------ -->
<div id="crop-div-all">
  <div class="row top" id="crop-panel">
    <div class="column left" id="crop-div"></div>

    <div class="column right">
      <div class="list-container">
        <button class="btn" id="crop-btn" onclick="imageCrop('image-preview')">
          Crop
        </button>
        <button class="btn" id="reset-crop-btn" onclick="resetCrop()">
          Reset
        </button>
        <p>Brush Lock:</p>
        <label class="switch">
          <input
            class="toggle-input"
            id="toggle"
            type="checkbox"
            onclick="toggleFunc()"
          />
          <span class="slider round"></span>
        </label>

        <button class="btn" id="upload-crop-btn">Re-evaluate</button>
      </div>

      <div class="image-cropped" style="max-height: 300px; width: 300px">
        <canvas id="canvas" height="300" width="300"></canvas>
      </div>
    </div>
  </div>

  <div class="row bottom">
    <div class="image-uploaded">
      <p>Uploaded Image: {{ output }}</p>
      <img src="{{ img_format }}{{ img_path[0] | safe }}" alt="" height="200" />
    </div>
  </div>
</div>

<div>
  <!-- <p id="text-storedata">Text:</p> -->
  <!-- <p id="input-storedata2">Input:</p> -->
  <!-- <p id="cropimg-storedata">Data:</p> -->
</div>

{% if init_hide == False %}
<div class="container-btm" id="btm-div-info">
  <div class="err-content">
    <h3>"<span id="errText"></span>"</h3>
    <p id="errInfo"></p>
  </div>
  <div class="err-example">
    <h3>Examples:</h3>
    <div class="img-window">
      <img class="img-example" src="/static/images/under_ex1.jpg" alt="" />
      <img class="img-example" src="/static/images/under_ex2.jpg" alt="" />
      <img class="img-example" src="/static/images/under_ex3.jpg" alt="" />
      <img class="img-example" src="/static/images/under_ex4.jpg" alt="" />
    </div>
  </div>
</div>
{% endif %}

<div id="btm-div-sol">
  <h3>Top known solutions for "<span id="errText-sol"></span>"</h3>
  <div class="tab tab-sol">
    <button
      class="tab-links-sol"
      onclick="openTab_sol(event, 'sol-list-container')"
      id="defaultOpen_sol"
    >
      List
    </button>
    <button
      class="tab-links-sol"
      onclick="openTab_sol(event, 'sankey-container')"
    >
      Diagram
    </button>
    <!-- <button
      class="tab-links-sol"
      onclick="openTab_sol(event, 'sol-rank-container')"
    >
      Rank
    </button> -->
  </div>

  <div id="sankey-container" class="tab-content-sol">
    <p id="sankey-content">Sankey content placeholder</p>
  </div>

  <div id="sol-list-container" class="tab-content-sol">
    <!-- * CustomList -->
    <div id="customList-container">
      <div id="clue_placeholder">
        <div class="dropdown">
          <h3 class="clue-title customList-sec-title">Clues:</h3>
          <div class="modal-btn">Show Modal</div>

          <div id="myDropdown" class="dropdown-content">
            <input
              type="text"
              placeholder="Search.."
              id="myInput"
              onkeyup="filterFunction()"
            />
            <div id="myBtnContainer">
              <button
                class="btnList activeList"
                onclick="filterSelection('all')"
              >
                All solutions
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="solution_placeholder">
        <h3 class="customList-sec-title">Solutions:</h3>
        <div class="diff-checkbox">
          <div class="checkbox checkbox-1">
            <label
              ><input
                type="checkbox"
                rel="diff-0"
                onchange="diffFilter();"
              />Easy</label
            >
          </div>
          <div class="checkbox checkbox-2">
            <label
              ><input
                type="checkbox"
                rel="diff-1"
                onchange="diffFilter();"
              />Normal</label
            >
          </div>
          <div class="checkbox checkbox-3">
            <label
              ><input
                type="checkbox"
                rel="diff-2"
                onchange="diffFilter();"
              />Hard</label
            >
          </div>
        </div>
      </div>
    </div>

    <!-- * Modal window box -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-title">
          <span class="close">&times;</span>
        </div>
        <div class="modal-body"></div>
        <div class="modal-tail"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" id="main-js">
  var boxBorderColor = "springgreen";

  function resetToggle() {
    // Uncheck auto-crop toggle
    let elm = document.getElementById("toggle");
    if (elm.checked == true) {
      elm.click();
    }
  }

  // Tab control
  function openTab(evt, imgID) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tab-content");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab-links");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(imgID).style.display = "block";
    evt.currentTarget.className += " active";

    // Close crop-div-all
    document.getElementById("crop-div-all").style.display = "none";
  }
  // Tab for solution section
  function openTab_sol(evt, imgID) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tab-content-sol");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab-links-sol");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(imgID).style.display = "block";
    evt.currentTarget.className += " active";
  }

  //// Image crop
  function createCropDiv(imgID) {
    // Get orig. img src by click tabs
    let tab_img_sub = document.getElementById(imgID).children[0];
    let tab_img_src = tab_img_sub.src;

    // console.log(tab_img_sub.width);
    // Init crop-div for each tab click
    initCropDiv(tab_img_src);
    resetCrop();
    resetToggle();
    initCropImg("image-preview", tab_img_src);
    let cropper = updateCropper("image-preview");
  }

  // Image upload Button control
  function showHideDiv(id, set_display = "block") {
    let x = document.getElementById(id);
    if (x.style.display === set_display) {
      x.style.display = "none";
    } else {
      x.style.display = set_display;
    }
  }

  // Default open tab 1
  document.getElementById("defaultOpen").click();
  document.getElementById("defaultOpen_sol").click();

  function addText(inputID) {
    document.getElementById("btm-div-sol").style.display = "none";
    document.getElementById("btm-div-info").style.display = "flex";
    d3.select("#solution-div").selectAll("*").remove();

    d3.select("#errText").text(inputID);

    d3.select("#errInfo").text(errDB[inputID]);
  }

  // Default click error info for issue #1
  document.getElementById("btn-info-0-0").click();

  // Function to compute length of an Object
  Object.size = function (obj) {
    var size = 0,
      key;
    for (key in obj) {
      if (obj.hasOwnProperty(key)) size++;
    }
    return size;
  };

  // Display solutions and thumbs up/down
  function showSolution(inputID) {
    document.getElementById("btm-div-info").style.display = "none";
    document.getElementById("btm-div-sol").style.display = "block";
    d3.select("#errText-sol").text(inputID);

    d3.select("#solution-div").selectAll("*").remove();
  }

  // Card link to sub cam map
  // For mouse over and off

  function showHideMap_on(card_id, card_val, file_idx) {
    let err_idx = parseInt(card_val.split("-")[0]) - 1;
    let map_id = "sub-map-" + err_idx + "-" + file_idx;

    let x = document.getElementById(map_id);
    x.style.display = "block";
    x.style.zIndex = "100";

    let y = document.getElementById(card_id);
    y.style.borderColor = boxBorderColor;
  }

  function showHideMap_off(card_id, card_val, file_idx) {
    let err_idx = parseInt(card_val.split("-")[0]) - 1;
    let map_id = "sub-map-" + err_idx + "-" + file_idx;

    let x = document.getElementById(map_id);

    let y = document.getElementById(card_id);
    if (y.style.borderStyle === "solid") {
      x.style.zIndex = "90";
    } else {
      x.style.display = "none";
      x.style.zIndex = "50";
      y.style.borderColor = "white";
    }
  }

  // For click
  function showHideMap_click(card_id, card_val, file_idx) {
    let err_idx = parseInt(card_val.split("-")[0]) - 1;
    let map_id = "sub-map-" + err_idx + "-" + file_idx;

    let x = document.getElementById(map_id);

    let y = document.getElementById(card_id);
    const style_now = y.style.borderStyle;

    // Reset other selections
    let zz = document.querySelectorAll(".uploaded-img-map-sub-" + file_idx);
    let cc = document.querySelectorAll(".card-top-" + file_idx);
    for (let z = 0; z < zz.length; ++z) {
      zz[z].style.display = "none";
      zz[z].style.zIndex = "50";
    }
    for (let c = 0; c < cc.length; ++c) {
      cc[c].style.borderColor = "white";
      cc[c].style.borderStyle = "dotted";
    }

    if (style_now === "solid") {
      y.style.borderStyle = "dotted";
    } else {
      y.style.borderStyle = "solid";
      y.style.borderColor = boxBorderColor;
      x.style.zIndex = "100";
      x.style.display = "block";
    }
  }
</script>

<script type="text/javascript" id="sankey-js">
  var units = "widgets";
  var node_w = 120;
  var node_h = 20;
  var sankey_w = 1400;
  var sankey_h = 1100;
  var extra_width = 200;
  var extra_height = 50;

  // set the dimensions and margins of the graph
  var margin = { top: 10, right: 10, bottom: 10, left: 10 },
    width = sankey_w - margin.left - margin.right,
    height = sankey_h - margin.top - margin.bottom;

  // format variables
  var formatNumber = d3.format(",.0f"), // zero decimal places
    format = function (d) {
      return "(" + formatNumber(d) + " " + units + ")";
    },
    // color = d3.scaleOrdinal(d3.schemeCategory10);
    // color = d3.scaleOrdinal([`#32a852`]);
    color = d3.scaleOrdinal([`forestgreen`]);

  // append the svg object to the body of the page
  var sanSVG = d3
    .select("#sankey-container")
    .append("svg")
    .attr("width", width + margin.left + margin.right + extra_width)
    .attr("height", height + margin.top + margin.bottom + extra_height)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  // Set the sankey diagram properties
  var sankey = d3
    .sankey()
    .nodeWidth(node_w)
    .nodePadding(40)
    .size([width, height]);

  var sanPath = sankey.link();

  // load the data from "sankey.js"
  sankey.nodes(sankeyDB.nodes).links(sankeyDB.links).layout(32);

  // add in the links
  var sanLink = sanSVG
    .append("g")
    .selectAll(".san-link")
    .data(sankeyDB.links)
    .enter()
    .append("path")
    .attr("class", "san-link")
    .attr("id", function (d, i) {
      d.id = i;
      return "san-link-" + i;
    })
    // .attr("id", function (d) {
    //   return "san-link-" + d.source.name.replace(/\s+/g, '') + "-" + d.target.name.replace(/\s+/g, '')
    // })
    .attr("d", sanPath)
    .style("stroke-width", function (d) {
      return Math.max(1, d.dy);
    })
    .sort(function (a, b) {
      return b.dy - a.dy;
    })
    .on("mouseover", function () {
      d3.select("#" + this.id).style("stroke-opacity", 0.5);
    })
    .on("mouseout", function () {
      d3.select("#" + this.id).style("stroke-opacity", 0.2);
    });

  // add the link titles
  sanLink.append("title").text(function (d) {
    return d.source.name + " → " + d.target.name + "\n" + format(d.value);
  });

  // add in the nodes
  var sanNode = sanSVG
    .append("g")
    .selectAll(".san-node")
    .data(sankeyDB.nodes)
    .enter()
    .append("g")
    .attr("class", "san-node")
    .attr("id", function (d) {
      return "san-g-" + d.name.replace(/\s+/g, "");
    })
    .attr("transform", function (d) {
      return "translate(" + d.x + "," + d.y + ")";
    })
    .call(
      d3
        .drag()
        .subject(function (d) {
          return d;
        })
        .on("start", function () {
          this.parentNode.appendChild(this);
        })
        .on("drag", dragmove)
    )
    .on("mouseover", highlight_node_links)
    .on("mouseout", highlight_node_links);

  // add the rectangles for the nodes
  sanNode
    .append("rect")
    .attr("class", "san-node-rect")
    .attr("height", function (d) {
      // return d.dy;
      return d.dy + 8;
      // return node_h;
    })
    .attr("id", function (d) {
      return "san-node-" + d.name.replace(/\s+/g, "") + "-" + d.node;
    })
    .attr("width", sankey.nodeWidth())
    .style("fill", function (d) {
      return (d.color = color(d.name.replace(/ .*/, "")));
    })
    // .attr("onmouseout", "this.style.fill='forestgreen';")
    // .attr("onmouseover", "this.style.fill='orange';")

    // .on("mouseover", function () {this.style.fill='orange';})

    .style("stroke", function (d) {
      return d3.rgb(d.color).darker(2);
    })
    .append("title")
    .text(function (d) {
      return d.content + "\n\n" + format(d.value / path_w_size);
    });

  // add in the title for the nodes
  sanNode
    .append("text")
    .attr("class", "node-text")
    .attr("x", 4)
    .attr("y", function (d) {
      // return d.dy / 2;
      // return node_h / 2;
      return 10;
    })
    .attr("dy", ".35em")
    // .attr("text-anchor", "end")
    .attr("transform", null)
    // .style('fill', 'white')
    .text(function (d) {
      return d.name;
      // return d.content;
    })
    // .filter(function (d) {
    //   return d.x < width / 2;
    // })
    // .attr("x", 6 + sankey.nodeWidth())
    .attr("text-anchor", "start");
  // .append("tspan")
  // .attr("x", 20)
  // .attr("dx", 10)
  // .attr("dy", 22)
  // .text("line2")

  /////////////////////////////////////////////////

  var sanNodeRects = document.getElementsByClassName("san-node-rect");
  var sanLinkPaths = document.getElementsByClassName("san-link");

  // var sanNodeRects = document.getElementById("san-node-mechanical");
  var nodes_old_h = [];
  for (let j = 0; j < sanNodeRects.length; j++) {
    nodes_old_h.push(sanNodeRects[j].style.height);
  }

  for (let i = 0; i < sanNodeRects.length; i++) {
    sanNodeRects[i].addEventListener("mousedown", function () {
      var panel = this;
      if (panel.style.fill == "orange") {
        panel.style.fill = "forestgreen";

        for (let k = 0; k < sanLinkPaths.length; k++) {
          sanLinkPaths[k].style.stroke = "#000";
        }
      } else {
        for (let j = 0; j < sanNodeRects.length; j++) {
          sanNodeRects[j].style.fill = "forestgreen";
        }
        panel.style.fill = "orange";

        // d3.select("#sankey-content").text(sankeyDB.nodes[this.id.split("-")[3]].content);

        document.getElementById("sankey-content").innerHTML = sankeyDB.nodes[
          this.id.split("-")[3]
        ].content.replace(/(\r\n|\n|\r)/gm, "<br>");

        for (let k = 0; k < sanLinkPaths.length; k++) {
          if (sanLinkPaths[k].style["stroke-opacity"] == "0.5") {
            sanLinkPaths[k].style.stroke = "red";
          } else {
            sanLinkPaths[k].style.stroke = "#000";
          }
        }
      }
    });
  }

  /////////////////////////////////////////////////

  // the function for moving the nodes
  function dragmove(d) {
    d3.select(this).attr(
      "transform",
      "translate(" +
        d.x +
        "," +
        (d.y = Math.max(0, Math.min(height - d.dy, d3.event.y))) +
        ")"
    );
    sankey.relayout();
    sanLink.attr("d", sanPath);
  }

  //* Function for hightlighting entire path

  function highlight_node_links(node, i) {
    var remainingNodes = [],
      nextNodes = [];

    var stroke_opacity = 0;

    if (d3.select(this).attr("mouseover") == "0") {
      d3.select(this).attr("mouseover", "1");
      stroke_opacity = 0.2;
    } else {
      d3.select(this).attr("mouseover", "0");
      stroke_opacity = 0.5;
    }

    var traverse = [
      {
        linkType: "sourceLinks",
        nodeType: "target",
      },
      {
        linkType: "targetLinks",
        nodeType: "source",
      },
    ];

    traverse.forEach(function (step) {
      node[step.linkType].forEach(function (link) {
        remainingNodes.push(link[step.nodeType]);
        highlight_link(link.id, stroke_opacity);
      });

      while (remainingNodes.length) {
        nextNodes = [];
        remainingNodes.forEach(function (node) {
          node[step.linkType].forEach(function (link) {
            nextNodes.push(link[step.nodeType]);
            highlight_link(link.id, stroke_opacity);
          });
        });

        remainingNodes = nextNodes;
      }
    });
  }

  function highlight_link(id, opacity) {
    d3.select("#san-link-" + id).style("stroke-opacity", opacity);
  }
</script>

<script class="mouse-drag-slider">
  // const slider = document.querySelector(".scrolling-wrapper");
  // let mouseDown = false;
  // let startX, scrollLeft;

  // let startDragging = function (e) {
  //   mouseDown = true;
  //   startX = e.pageX - slider.offsetLeft;
  //   scrollLeft = slider.scrollLeft;
  // };
  // let stopDragging = function (event) {
  //   mouseDown = false;
  // };

  // slider.addEventListener("mousemove", (e) => {
  //   e.preventDefault();
  //   if (!mouseDown) {
  //     return;
  //   }
  //   const x = e.pageX - slider.offsetLeft;
  //   const scroll = x - startX;
  //   slider.scrollLeft = scrollLeft - scroll;
  // });

  // // Add the event listeners
  // slider.addEventListener("mousedown", startDragging, false);
  // slider.addEventListener("mouseup", stopDragging, false);
  // slider.addEventListener("mouseleave", stopDragging, false);
</script>

<script class="datajs" src="../static/js/customList.js"></script>
<script class="datajs" src="../static/js/modal.js"></script>

<script class="compute-overlap-crop-js">
  // var img_sub = document.getElementsByClassName("uploaded-img");
  // console.log(img_sub.width);

  // Run these after the page has been loaded
  // addEventListener(
  //   "DOMContentLoaded",
  //   function () {
  //     var compute_overlap_btn = document.getElementById("upload-crop-btn");

  //     compute_overlap_btn.addEventListener("click", function (e) {
  //       // When a click happens, stop the button from submitting our form
  //       e.preventDefault();

  //       // Sending data to the server without reloading the page
  //       // This is the domain of AJAX (Asynchronous JavaScript And XML)
  //       // Creating a new request object and set up a handler for the response
  //       var request = new XMLHttpRequest();
  //       request.onload = function () {
  //         document.getElementById("crop-output-text").innerHTML += "<br>";
  //         document.getElementById("crop-output-text").innerHTML +=
  //           request.responseText;
  //       };
  //       var js_input = input_storedata;

  //       if (js_input == "") {
  //         return;
  //       } else {
  //         request.open("GET", "/" + String(js_input), true);
  //         request.send();
  //       }
  //     });
  //   },
  //   true
  // );
</script>

{% endblock %}
