{% extends 'base.html' %} {% block head %}

    <!-- customized CSS -->
    <link href='../static/css/global_layout.css' type='text/css' rel='stylesheet'/>
    <link href='../static/css/global_style.css' type='text/css' rel='stylesheet'/>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>

    <link href="../static/css/customList.css" rel="stylesheet" />
    <script src="../static/js/jquery.min.js"></script>

<style>
  body {
    background-image: url("../static/images/3DPFIX_BG.png");
  }
</style>

{% endblock %} {% block body %}
<!-- Header hat -->
<div style="height: 5px; background: rgba(218, 28, 92, 1)"></div>

<!-- Header -->
<div class="flex_container_center" style="flex-direction: row; height: 135px">
  <div id="flex_item_header_logo">
    <a href="/" target="_self">
      <img
        src="../static/images/logo_3DPFIX.png"
        alt="3DPFix Logo"
        width="225px"
        height="90px"
      />
    </a>
  </div>
  <div id="flex_item_header_bar"></div>
  <div id="flex_item_header_message">
    <div style="font-size: 24px; font-weight: 100">
      Make your 3D Printing troubleshooting easier
    </div>
  </div>
</div>

<!-- Image selector -->
<div class="flex_container_imageselector_message">
  Select an image you want to explore.
</div>

<!-- Image selector -->
<div class="flex_container_center">
  <div id="flex_container_imageselector">
    {% for i in range(n_img) %}

      {% if i == 0 %}
    <img
      class="uploaded-img tab-links flex_container_imageselector_on"
      onclick="selectImage(this);"
      id="uploaded-img-{{ i }}"
      src="{{ img_format }}{{ img_path[i] | safe }}"
      alt=""
    />
      {% else %}

      <img
      class="uploaded-img tab-links flex_container_imageselector_off"
      onclick="selectImage(this);"
      id="uploaded-img-{{ i }}"
      src="{{ img_format }}{{ img_path[i] | safe }}"
      alt=""
    />

      {% endif %}

    {% endfor %}

    <!-- <img class="flex_container_imageselector_on" src="img/ex1.jpg" />
    <img class="flex_container_imageselector_off" src="img/ex2.jpg" />
    <img class="flex_container_imageselector_off" src="img/ex3.jpg" />
    <img class="flex_container_imageselector_off" src="img/ex4.jpg" />
    <img class="flex_container_imageselector_off" src="img/ex5.jpg" /> -->
  </div>
</div>

<div class="flex_container_center">
  <div class="flex_container_imageselector_message">
    According to the image you selected, your problem can be...
  </div>
</div>

<div class="flex_container_center">
  {% for i in range(n_img) %}
  <div id="flex_container_imageselector_innercontainer" class="uploaded-img-wrapper-{{ i }}">
    <div class="flex_imageselector_innercontainer_each">
      <div class="flex_imageselector_innercontainer_each_name">
        <span style="background-color: #000">Original Image</span>
      </div>
      <img
        class="uploaded-img-{{ i }}"
        src="{{ img_format }}{{ img_path[i] | safe }}"
        alt=""
      />
    </div>
    {% for m in range(card_info[i] | length) %} {% if card_info_prob[i][m] <
    0.75 %}
    <div
      class="flex_imageselector_innercontainer_each acc_below_threshold"
      style="display: none"
    >
      {% else %}
      <div
        class="flex_imageselector_innercontainer_each"
        style="display: block"
        id="{{ card_info[i][m].split('-')[1] }}_map"

      >
        {% endif %}
        <div class="flex_imageselector_innercontainer_each_name">
          <span class="error_color{{ m+1 }}"
            >{{ card_info[i][m].split('-')[1] }}</span
          >
        </div>
        <div class="flex_imageselector_innercontainer_each_prob">
          <span class="error_color{{ m+1 }}"
            >{{ (((card_info_prob[i][m] * 100) | round) |
            string).rstrip('0').rstrip('.') }}%</span
          >
        </div>
        <img
          class="uploaded-img-map-sub uploaded-img-map-sub-{{ i }} sub-map-{{ m }}"
          src="{{ img_format }}{{ img_path_cam[(card_info[i][m].split('-')[0] | int)-1][i] | safe }}"
          alt=""
          id="sub-map-{{ m }}-{{ i }}-{{ card_info[i][m].split('-')[1] }}"
          onclick="callSolution(this.id.split('-')[4]); selectMap(this, this.id.split('-')[2]);"
        />
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

<div class="flex_container_center">
  <div class="flex_container_imageselector_message">
    Do you want to see all failures and possibilities?
     <button onclick="showHideClass('acc_below_threshold');">Show All Failures</button>

  </div>
</div>


<!-- Content -->
        <div class="flex_container_center" style="flex-direction:column">
            <div id="flex_innercontainer_menu">
                <div class="flex_innercontainer_menu_item_off"><a href="#" style="text-decoration:none;">What's this problem?</a></div>
                <div class="flex_innercontainer_menu_item_on"><a href="#" style="text-decoration:none;">Search How to fix</a></div>
            </div>
            <div id="flex_innercontainer_search">
                <div id="flex_innercontainer_search_left">
                    <div class="flex_innercontainer_search_heading">
                        Step 1. Find a clue.
                    </div>
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="What are you looking for?" id="myInput" onkeyup="filterFunction()">
                    </div>

                    <div id="myBtnContainer">

                    </div>
                </div>
                <div id="flex_innercontainer_search_right">
                    <div class="flex_innercontainer_search_heading">
                        Step 2. Learn solutions.
                    </div>

                    <fieldset style="height:50px;width:300px">
                            <legend>Filter based on difficulty level</legend>

                        <div class="diff-checkbox" style="padding-top:20px">
                          <div class="checkbox checkbox-1">
                            <label
                              ><input
                                type="checkbox"
                                rel="diff-0"
                                onchange="diffFilter();"
                                checked="true"
                                required
                              />Basic</label
                            >
                          </div>
                          <div class="checkbox checkbox-2">
                            <label
                              ><input
                                type="checkbox"
                                rel="diff-1"
                                onchange="diffFilter();"
                                checked="true"
                                required
                              />Intermediate</label
                            >
                          </div>
                          <div class="checkbox checkbox-3">
                            <label
                              ><input
                                type="checkbox"
                                rel="diff-2"
                                onchange="diffFilter();"
                                checked="true"
                                required
                              />Advanced</label
                            >
                          </div>
                        </div>

                        </fieldset>
                        <br>

                    <div id="solution_placeholder">


                    </div>

                </div>
            </div>
        </div>


<script class="datajs" src="../static/js/customList.js"></script>
<script>

    var uploaded_imgs = document.getElementsByClassName('uploaded-img');

    for (var k=0; k<uploaded_imgs.length; k++){

            if (k.toString() === "0"){
                document.getElementsByClassName('uploaded-img-wrapper-' + k.toString())[0].style.display = 'flex';
            }
            else {
                document.getElementsByClassName('uploaded-img-wrapper-' + k.toString())[0].style.display = 'none';
            }

        }

    function selectImage(selected) {
        var uploaded_imgs = document.getElementsByClassName('uploaded-img');
        var current_img = selected.id.split('-')[2];

        /* uploaded image selection */
        for (var i = 0; i < uploaded_imgs.length; i++){

            while (uploaded_imgs[i].className.includes('flex_container_imageselector_on')){
              uploaded_imgs[i].classList.remove("flex_container_imageselector_on");
          }
          while (uploaded_imgs[i].className.includes('flex_container_imageselector_off')){
              uploaded_imgs[i].classList.remove("flex_container_imageselector_off");
          }

          if (i.toString() !== current_img){
              uploaded_imgs[i].classList.add("flex_container_imageselector_off");
          }
          else{
              uploaded_imgs[i].classList.add("flex_container_imageselector_on");
          }

        }



        for (var k=0; k<uploaded_imgs.length; k++){


            if (k.toString() === current_img){
                document.getElementsByClassName('uploaded-img-wrapper-' + k.toString())[0].style.display = 'flex';
            }
            else {
                document.getElementsByClassName('uploaded-img-wrapper-' + k.toString())[0].style.display = 'none';
            }

        }
    }

  function selectMap(selected) {
    //d3.select(".sub-map-"+map_id).node().classList.add("flex_imageselector_on");
      var maps = document.getElementsByClassName('uploaded-img-map-sub');
      for (var i = 0; i < maps.length; i++){
          maps[i].classList.remove("flex_imageselector_on");
      }
      selected.classList.add("flex_imageselector_on");
  }

  function showHideClass(className, set_display = "block") {
    let x = document.getElementsByClassName(className);
    for (let i = 0; i < x.length; i++)
      if (x[i].style.display === set_display) {
        x[i].style.display = "none";
      } else {
        x[i].style.display = set_display;
      }
  }

  function callSolution(failure_label){
      if (failure_label === "Underextrusion"){
          loadSoltions("under-extrusion");
      }
      else if (failure_label === "Stringing"){
          loadSoltions("stringing");
      }
      else if (failure_label === "LayerShifting"){
          loadSoltions("layer_shifting");
      }
      else if (failure_label === "Warping"){
          loadSoltions("warping");
      }
      else if (failure_label === "Blobs"){
          loadSoltions("blobs");
      }

  }
</script>

{% endblock %}
