{% extends 'base.html' %} {% block head %}

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>

<style>
  body {
    background-image: url("../static/images/3DPFIX_BG.png");
  }
</style>

{% endblock %} {% block body %}
<!-- Header hat -->
<div style="height: 5px; background: rgba(218, 28, 92, 1)"></div>

<!-- Header -->
<div class="flex_container_center" style="flex-direction: row; height: 135px">
  <div id="flex_item_header_logo">
    <a href="/" target="_self">
      <img
        src="../static/images/logo_3DPFIX.png"
        alt="3DPFix Logo"
        width="225px"
        height="90px"
      />
    </a>
  </div>
  <div id="flex_item_header_bar"></div>
  <div id="flex_item_header_message">
    <div style="font-size: 24px; font-weight: 100">
      Make your 3D Printing troubleshooting easier
    </div>
  </div>
</div>

<!-- Image selector -->
<div class="flex_container_imageselector_message">
  Step 1. Select an image you want to explore.
</div>

<!-- Image selector -->
<div class="flex_container_center">
  <div id="flex_container_imageselector">
    {% for i in range(n_img) %}

    <img
      class="uploaded-img tab-links flex_container_imageselector_on"
      onclick="openTab(event, 'up-img-{{ i }}')"
      id="defaultOpen"
      src="{{ img_format }}{{ img_path[i] | safe }}"
      alt=""
    />

    {% endfor %}

    <!-- <img class="flex_container_imageselector_on" src="img/ex1.jpg" />
    <img class="flex_container_imageselector_off" src="img/ex2.jpg" />
    <img class="flex_container_imageselector_off" src="img/ex3.jpg" />
    <img class="flex_container_imageselector_off" src="img/ex4.jpg" />
    <img class="flex_container_imageselector_off" src="img/ex5.jpg" /> -->
  </div>
</div>

<div class="flex_container_center">
  <div class="flex_container_imageselector_message">
    According to the image you selected, your problem can be...
  </div>
</div>

<div class="flex_container_center">
  {% for i in range(n_img) %}
  <div id="flex_container_imageselector_innercontainer">
    <div class="flex_imageselector_innercontainer_each">
      <div class="flex_imageselector_innercontainer_each_name">
        <span style="background-color: #000">Original Image</span>
      </div>
      <img
        class="uploaded-img"
        src="{{ img_format }}{{ img_path[i] | safe }}"
        alt=""
      />
    </div>
    {% for m in range(card_info[i] | length) %} {% if card_info_prob[i][m] <
    0.75 %}
    <div
      class="flex_imageselector_innercontainer_each acc_below_threshold"
      style="display: block"
    >
      {% else %}
      <div
        class="flex_imageselector_innercontainer_each"
        style="display: block"
      >
        {% endif %}
        <div class="flex_imageselector_innercontainer_each_name">
          <span class="error_color{{ m+1 }}"
            >{{ card_info[i][m].split('-')[1] }}</span
          >
        </div>
        <div class="flex_imageselector_innercontainer_each_prob">
          <span class="error_color{{ m+1 }}"
            >{{ (((card_info_prob[i][m] * 100) | round) |
            string).rstrip('0').rstrip('.') }}%</span
          >
        </div>
        <img
          class="uploaded-img-map-sub uploaded-img-map-sub-{{ i }} sub-map-{{ m }}"
          src="{{ img_format }}{{ img_path_cam[(card_info[i][m].split('-')[0] | int)-1][i] | safe }}"
          alt=""
          id="sub-map-{{ m }}-{{ i }}"
        />
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

<!-- Content -->
<div class="flex_container_center" style="flex-direction: column">
  <div id="flex_innercontainer_menu">
    <div class="flex_innercontainer_menu_item_on">
      <a style="text-decoration: none">What's this problem?</a>
    </div>
    <div class="flex_innercontainer_menu_item_off">
      <a style="text-decoration: none">Search How to fix</a>
    </div>
    <div class="flex_innercontainer_menu_item_off">
      <a style="text-decoration: none">Solution diagram</a>
    </div>
  </div>
  <div class="paragraph_text">
    It's not only writers who can benefit from this free online tool. If you're
    a programmer who's working on a project where blocks of text are needed,
    this tool can be a great way to get that. It's a good way to test your
    programming and that the tool being created is working well.. Above are a
    few examples of how the random paragraph generator can be beneficial. The
    best way to see if this random paragraph picker will be useful for your
    intended purposes is to give it a try. Generate a number of paragraphs to
    see if they are beneficial to your current project.
  </div>
  <div class="paragraph_text" style="padding-bottom: 50px">
    If you do find this paragraph tool useful, please do us a favor and let us
    know how you're using it. It's greatly beneficial for us to know the
    different ways this tool is being used so we can improve it with updates.
    This is especially true since there are times when the generators we create
    get used in completely unanticipated ways from when we initially created
    them. If you have the time, please send us a quick note on what you'd like
    to see changed or added to make it better in the future.
  </div>
</div>
<button onclick="addClass();">Select</button>
<button onclick="showHideClass('acc_below_threshold');">Show/Hide</button>
<script>
  function addClass() {
    d3.select(".sub-map-0").node().classList.add("flex_imageselector_on");
  }

  function showHideClass(className, set_display = "block") {
    let x = document.getElementsByClassName(className);
    for (let i = 0; i < x.length; i++)
      if (x[i].style.display === set_display) {
        x[i].style.display = "none";
      } else {
        x[i].style.display = set_display;
      }
  }
</script>

{% endblock %}
