{% extends 'base.html' %} {% block head %}

    <!-- customized CSS -->
    <link href='../static/css/global_layout.css' type='text/css' rel='stylesheet'/>
    <link href='../static/css/global_style.css' type='text/css' rel='stylesheet'/>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>

    <link href="../static/css/customList.css" rel="stylesheet" />
    <script src="../static/js/jquery.min.js"></script>

<style>
  body {
    background-image: url("../static/images/3DPFIX_BG.png");
  }
</style>

{% endblock %} {% block body %}
<!-- Header hat -->
<div style="height: 5px; background: rgba(218, 28, 92, 1)"></div>

<!-- Header -->
<div class="flex_container_center" style="flex-direction: row; height: 135px">
  <div id="flex_item_header_logo">
    <a href="/" target="_self">
      <img
        src="../static/images/logo_3DPFIX.png"
        alt="3DPFix Logo"
        width="225px"
        height="90px"
      />
    </a>
  </div>
  <div id="flex_item_header_bar"></div>
  <div id="flex_item_header_message">
    <div style="font-size: 24px; font-weight: 100">
      Make your 3D Printing troubleshooting easier
    </div>
  </div>
</div>

<!-- Image selector -->
<div class="flex_container_imageselector_message">
  Select an image you want to explore.
</div>

<!-- Image selector -->
<div class="flex_container_center">
  <div id="flex_container_imageselector">
    {% for i in range(n_img) %}

      {% if i == 0 %}
    <img
      class="uploaded-img tab-links flex_container_imageselector_on"
      onclick="selectImage(this);"
      id="uploaded-img-{{ i }}"
      src="{{ img_format }}{{ img_path[i] | safe }}"
      alt=""
    />
      {% else %}

      <img
      class="uploaded-img tab-links flex_container_imageselector_off"
      onclick="selectImage(this);"
      id="uploaded-img-{{ i }}"
      src="{{ img_format }}{{ img_path[i] | safe }}"
      alt=""
    />

      {% endif %}

    {% endfor %}

    <!-- <img class="flex_container_imageselector_on" src="img/ex1.jpg" />
    <img class="flex_container_imageselector_off" src="img/ex2.jpg" />
    <img class="flex_container_imageselector_off" src="img/ex3.jpg" />
    <img class="flex_container_imageselector_off" src="img/ex4.jpg" />
    <img class="flex_container_imageselector_off" src="img/ex5.jpg" /> -->
  </div>
</div>

<div class="flex_container_center">
  <div class="flex_container_imageselector_message">
    According to the image you selected, your problem can be...
  </div>
</div>

<div class="flex_container_center">
  {% for i in range(n_img) %}
  <div id="flex_container_imageselector_innercontainer" class="uploaded-img-wrapper-{{ i }}">
    <div class="flex_imageselector_innercontainer_each">
      <div class="flex_imageselector_innercontainer_each_name">
        <span style="background-color: #000">Original Image</span>
      </div>
      <img
        class="uploaded-img-{{ i }}"
        src="{{ img_format }}{{ img_path[i] | safe }}"
        alt=""
      />
    </div>
    {% for m in range(card_info[i] | length) %} {% if card_info_prob[i][m] <
    0.75 %}
    <div
      class="flex_imageselector_innercontainer_each acc_below_threshold"
      style="display: none"
    >
      {% else %}
      <div
        class="flex_imageselector_innercontainer_each"
        style="display: block"
        id="{{ card_info[i][m].split('-')[1] }}_map"

      >
        {% endif %}
        <div class="flex_imageselector_innercontainer_each_name">
          <span class="error_color{{ m+1 }}"
            >{{ card_info[i][m].split('-')[1] }}</span
          >
        </div>
        <div class="flex_imageselector_innercontainer_each_prob">
          <span class="error_color{{ m+1 }}"
            >{{ (((card_info_prob[i][m] * 100) | round) |
            string).rstrip('0').rstrip('.') }}%</span
          >
        </div>
        <img
          class="uploaded-img-map-sub uploaded-img-map-sub-{{ i }} sub-map-{{ m }}"
          src="{{ img_format }}{{ img_path_cam[(card_info[i][m].split('-')[0] | int)-1][i] | safe }}"
          alt=""
          id="sub-map-{{ m }}-{{ i }}-{{ card_info[i][m].split('-')[1] }}"
          onclick="selectMap(this, this.id.split('-')[2], this.id.split('-')[4]);"
        />
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

<div class="flex_container_center">

    <div class="flex_container_imageselector_message">
        Select one failure type image above that you want to explore.
    </div>

</div>

<div class="flex_container_center">

  <div class="flex_container_imageselector_message">
    Do you want to see all failures and AI's confidences?
     <button id="show_all_button" onclick="showHideClass('acc_below_threshold');">Show All Failures</button>

  </div>
</div>


<!-- Content -->
        <div class="flex_container_center" style="flex-direction:column">
            <div id="flex_innercontainer_menu">
                <div class="flex_innercontainer_menu_item_off" id="general_button" onclick="switchTab(this, 'general');"><a href="#" style="text-decoration:none;">What's This Problem?</a></div>
                <div class="flex_innercontainer_menu_item_off" id="common_button" onclick="switchTab(this, 'common');"><a href="#" style="text-decoration:none;">See Common Solutions</a></div>
                <div class="flex_innercontainer_menu_item_off" id="solution_button" onclick="switchTab(this, 'solution');"><a href="#" style="text-decoration:none;">Common Solutions Did Not Work?</a></div>
            </div>

            <div id="selected_failure_label"></div>

            <div id="flex_innercontainer_general" style="display:none">

                <div id="flex_innercontainer_general_left">

                </div>

                <div id="flex_innercontainer_general_right">

                </div>

            </div>

            <div id="flex_innercontainer_search" style="display:none">

                <div id="flex_innercontainer_search_left">


                    <div class="flex_innercontainer_search_heading">
                        Step 1. Find a clue.
                    </div>
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="What are you looking for?" id="myInput" onkeyup="filterFunction()">
                    </div>

                    <div id="myBtnContainer">

                    </div>
                </div>
                <div id="flex_innercontainer_search_right">
                    <div class="flex_innercontainer_search_heading">
                        Step 2. Learn solutions.
                    </div>

                    <fieldset style="height:50px;width:300px">
                            <legend>Filter based on difficulty level</legend>

                        <div class="diff-checkbox" style="padding-top:20px">
                          <div class="checkbox checkbox-1">
                            <label
                              ><input
                                type="checkbox"
                                rel="diff-0"
                                onchange="diffFilter();"
                                checked="true"
                                required
                              />Basic</label
                            >
                          </div>
                          <div class="checkbox checkbox-2">
                            <label
                              ><input
                                type="checkbox"
                                rel="diff-1"
                                onchange="diffFilter();"
                                checked="true"
                                required
                              />Intermediate</label
                            >
                          </div>
                          <div class="checkbox checkbox-3">
                            <label
                              ><input
                                type="checkbox"
                                rel="diff-2"
                                onchange="diffFilter();"
                                checked="true"
                                required
                              />Advanced</label
                            >
                          </div>
                        </div>

                        </fieldset>
                        <br>

                    <div id="solution_placeholder">


                    </div>

                </div>
            </div>
        </div>


<script class="datajs" src="../static/js/customList.js"></script>
<script>

    var uploaded_imgs = document.getElementsByClassName('uploaded-img');

    var selected_img_id = "0";

    for (var k=0; k<uploaded_imgs.length; k++){

            if (k.toString() === "0"){
                document.getElementsByClassName('uploaded-img-wrapper-' + k.toString())[selected_img_id].style.display = 'flex';
            }
            else {
                document.getElementsByClassName('uploaded-img-wrapper-' + k.toString())[selected_img_id].style.display = 'none';
            }

        }

    function selectImage(selected) {
        var uploaded_imgs = document.getElementsByClassName('uploaded-img');
        var current_img = selected.id.split('-')[2];

        /* uploaded image selection */
        for (var i = 0; i < uploaded_imgs.length; i++){

            while (uploaded_imgs[i].className.includes('flex_container_imageselector_on')){
              uploaded_imgs[i].classList.remove("flex_container_imageselector_on");
          }
          while (uploaded_imgs[i].className.includes('flex_container_imageselector_off')){
              uploaded_imgs[i].classList.remove("flex_container_imageselector_off");
          }

          if (i.toString() !== current_img){
              uploaded_imgs[i].classList.add("flex_container_imageselector_off");
          }
          else{
              uploaded_imgs[i].classList.add("flex_container_imageselector_on");
          }

        }

        for (var k=0; k<uploaded_imgs.length; k++){


            if (k.toString() === current_img){
                document.getElementsByClassName('uploaded-img-wrapper-' + k.toString())[0].style.display = 'flex';
            }
            else {
                document.getElementsByClassName('uploaded-img-wrapper-' + k.toString())[0].style.display = 'none';
            }

        }

        document.getElementById('flex_innercontainer_general').style.display = 'none';
        document.getElementById('flex_innercontainer_search').style.display = 'none';
        document.getElementById('selected_failure_label').innerHTML = '<h2>Nothing is selected.</h2>';

        // disable all tab button
        var sol_button = document.getElementById('solution_button');
        var gen_button = document.getElementById('general_button');
        var com_button = document.getElementById('common_button');

        sol_button.classList.remove('flex_innercontainer_menu_item_on');
        sol_button.classList.add('flex_innercontainer_menu_item_off');

        com_button.classList.remove('flex_innercontainer_menu_item_on');
        com_button.classList.add('flex_innercontainer_menu_item_off');

        gen_button.classList.remove('flex_innercontainer_menu_item_on');
        gen_button.classList.add('flex_innercontainer_menu_item_off');

    }

    function switchTab(clicked, tab) {

        // selected image
        var uploaded_imgs = document.getElementsByClassName('uploaded-img');
        var selected = 0;

        for (var i=0; i<uploaded_imgs.length; i++){
            if (uploaded_imgs[i].className.includes('flex_container_imageselector_on')){
                selected = i;
            }
        }

        // selected failure
        var maps = document.getElementsByClassName('uploaded-img-map-sub-' + selected.toString());
        var selected_failure = 'none';

        for (i=0; i<maps.length; i++) {
            if (maps[i].className.includes('flex_imageselector_on')) {
                selected_failure = maps[i].id.split('-')[4];
            }
        }

        if (selected_failure === "none") {
            return;
        }

        var label = "";

        if (selected_failure === "Underextrusion"){
            label = "under-extrusion";
        }
        else if (selected_failure === "Stringing"){
            label = "stringing";
        }
        else if (selected_failure === "LayerShifting"){
            label = "layer_shifting";
        }
        else if (selected_failure === "Warping"){
            label = "warping";
        }
        else if (selected_failure === "Blobs"){
            label = "blobs";
        }

        var general_data = [];

        $.ajax({
            async: false,
            global: false,
            url: "../static/3d_info/3D_general_description.json",
            dataType: "json",
            success: function (data) {
              general_data = data;
            },
          });

        var sol_button = document.getElementById('solution_button');
        var gen_button = document.getElementById('general_button');
        var com_button = document.getElementById('common_button');
        var general_div = document.getElementById('flex_innercontainer_general');
        var sol_div = document.getElementById('flex_innercontainer_search')

        if (clicked.id === "general_button") {
            sol_button.classList.remove('flex_innercontainer_menu_item_on');
            sol_button.classList.add('flex_innercontainer_menu_item_off');

            com_button.classList.remove('flex_innercontainer_menu_item_on');
            com_button.classList.add('flex_innercontainer_menu_item_off');

            gen_button.classList.remove('flex_innercontainer_menu_item_off');
            gen_button.classList.add('flex_innercontainer_menu_item_on');

            general_div.style.display = 'flex';
            sol_div.style.display = 'none';

        }
        else if (clicked.id === "solution_button") {
            gen_button.classList.remove('flex_innercontainer_menu_item_on');
            gen_button.classList.add('flex_innercontainer_menu_item_off');

            com_button.classList.remove('flex_innercontainer_menu_item_on');
            com_button.classList.add('flex_innercontainer_menu_item_off');

            sol_button.classList.remove('flex_innercontainer_menu_item_off');
            sol_button.classList.add('flex_innercontainer_menu_item_on');

            general_div.style.display = 'none';
            sol_div.style.display = 'flex';

        }
        else if (clicked.id === "common_button") {
            gen_button.classList.remove('flex_innercontainer_menu_item_on');
            gen_button.classList.add('flex_innercontainer_menu_item_off');

            sol_button.classList.remove('flex_innercontainer_menu_item_on');
            sol_button.classList.add('flex_innercontainer_menu_item_off');

            com_button.classList.remove('flex_innercontainer_menu_item_off');
            com_button.classList.add('flex_innercontainer_menu_item_on');

            general_div.style.display = 'none';
            sol_div.style.display = 'flex';
        }

        if (tab === "general") {

            var desc_img = document.createElement('img');
            desc_img.style.width = "100%";

            var general_left = document.getElementById('flex_innercontainer_general_left');
            var general_right = document.getElementById('flex_innercontainer_general_right');

            if (selected_failure !== 'none'){
                desc_img.src = "../static/3d_info/general_images/" + label + ".jpg";

                general_left.firstChild.remove();
                general_left.appendChild(desc_img);

                for (i=0; i<general_data.length; i++){
                    if (general_data[i]['failure'] === label) {
                        general_right.innerHTML = "<h3>" + general_data[i]['title'] + "</h3>" + general_data[i]['description'];
                    }
                }

            }

        }
        else var priority;
        if (tab === "solution") {

            sol_div.style.display = 'flex';
            callSolution(selected_failure, priority = "1");

        } else if (tab === "common") {
            sol_div.style.display = 'flex';
            callSolution(selected_failure, priority = "0");
        }

    }

    function callGeneral(selected_failure) {

        if (selected_failure === "none") {
            document.getElementById('selected_failure_label').innerHTML = '<h2>Nothing is selected.</h2>'
        }

        var label = "";

        if (selected_failure === "Underextrusion"){
            label = "under-extrusion";
        }
        else if (selected_failure === "Stringing"){
            label = "stringing";
        }
        else if (selected_failure === "LayerShifting"){
            label = "layer_shifting";
        }
        else if (selected_failure === "Warping"){
            label = "warping";
        }
        else if (selected_failure === "Blobs"){
            label = "blobs";
        }

        var general_data = [];

        $.ajax({
            async: false,
            global: false,
            url: "../static/3d_info/3D_general_description.json",
            dataType: "json",
            success: function (data) {
              general_data = data;
            },
          });

        var desc_img = document.createElement('img');
        desc_img.style.width = "100%";

        var general_left = document.getElementById('flex_innercontainer_general_left');
        var general_right = document.getElementById('flex_innercontainer_general_right');

        desc_img.src = "../static/3d_info/general_images/" + label + ".jpg";

        general_left.firstChild.remove();
        general_left.appendChild(desc_img);

        for (var i=0; i<general_data.length; i++){
            if (general_data[i]['failure'] === label) {
                general_right.innerHTML = "<h1>" + general_data[i]['title'] + "</h1>" + general_data[i]['description'];
            }
        }
    }

  function selectMap(selected, img_id, failure_label) {
    //d3.select(".sub-map-"+map_id).node().classList.add("flex_imageselector_on");
      var maps = document.getElementsByClassName('uploaded-img-map-sub');
      for (var i = 0; i < maps.length; i++){
          maps[i].classList.remove("flex_imageselector_on");
      }
      selected.classList.add("flex_imageselector_on");

      var general_div = document.getElementById('flex_innercontainer_general');
      var sol_div = document.getElementById('flex_innercontainer_search')

      //document.getElementById('flex_innercontainer_search').style.display = 'flex';

      var sol_button = document.getElementById('solution_button');
      var gen_button = document.getElementById('general_button');
      var com_button= document.getElementById('common_button');

      var priority;

      if (sol_button.className.includes('flex_innercontainer_menu_item_on')) {
          general_div.style.display = 'none';
          sol_div.style.display = 'flex';
          callSolution(failure_label, priority = "1");
      }
      else if (com_button.className.includes('flex_innercontainer_menu_item_on')) {
          general_div.style.display = 'none';
          sol_div.style.display = 'flex';
          callSolution(failure_label, priority = "0");
      }
      else if (gen_button.className.includes('flex_innercontainer_menu_item_on')) {
          general_div.style.display = 'flex';
          sol_div.style.display = 'none';
          callGeneral(failure_label);
      }

  }

  function showHideClass(className, set_display = "block") {
    let x = document.getElementsByClassName(className);
    for (let i = 0; i < x.length; i++)
      if (x[i].style.display === set_display) {
        x[i].style.display = "none";
      } else {
        x[i].style.display = set_display;
      }
  }

  function callSolution(failure_label, priority){

        if (failure_label === "none") {
            document.getElementById('selected_failure_label').innerHTML = '<h2>Nothing is selected.</h2>';
        }
        else {
            document.getElementById('selected_failure_label').innerHTML = '<h2>Selected Failure Type: '+failure_label+'</h2>';
        }


      if (failure_label === "Underextrusion"){
          loadSolutions("under-extrusion", priority);
      }
      else if (failure_label === "Stringing"){
          loadSolutions("stringing", priority);
      }
      else if (failure_label === "LayerShifting"){
          loadSolutions("layer_shifting", priority);
      }
      else if (failure_label === "Warping"){
          loadSolutions("warping", priority);
      }
      else if (failure_label === "Blobs"){
          loadSolutions("blobs", priority);
      }

  }
</script>

{% endblock %}
