{% extends 'base.html' %} {% block head %}
<title>Image Upload</title>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>



{% endblock %} {% block body %}

<div class="container-flexbox">
  <div class="container-title">
    <!-- <h3>New UI Layout: {{ output }}</h3> -->
    <p id="ui-title">3DTroubleshooter</p>
  </div>
  
  
  <div class="container-top">

    
    <div class="tab">
      <div class="tab-right-div">
        <button class="tab-links" id="tab-add" onclick="everyAddClick()">+</button>
      </div>
      
    </div>

    <div id="container-choose-img">
      <form method="post" enctype=multipart/form-data id="form-id">
        <input type="file" name="img-file" id="inputfile0" class="input-cls" accept=".jpeg, .jpg" onchange="viewMultipleFiles(this.id)" /><br>
        <div id="prev-div"></div>
        <button class="btn btn-pred" type="submit" onclick="resetValidity();showLoading();">Make Predictions</button>
      </form>
    </div>

  </div>


</div>

<div id="loading-div">
  <div>
    <img src="../static/images/loading.gif" alt="Loading Icon">
  </div>
</div>





<script type="text/javascript">
    const prevSize = 240;  // 100
    const initImg = "/static/images/init.svg";
    let input;
    let id_n = 0;



    function previewFile(id, i) {
        input = document.getElementById(id);
        const file = input.files[i];
        const fileSize = file.size / 1024 / 1024;  // gives size in MB
        const fileCount = input.files.length;
        const preview_id = "prev-img-"+ id + "-" + (i+1);
        // const remove_id = "rm-img-"+ id + "-" + (i+1);  // remove btn
        const div_rm_id = 'div-prev-img-' + id + "-" + (i+1);  // div of prev-img and remove btn

        const preview = document.getElementById(preview_id);
        preview.src = initImg;

        if (fileCount > 5) {
            // alert("Max 5 images allowed.");
            input.value = null;
            input.setCustomValidity("Max 5 images allowed.");
            input.reportValidity();
            // preview.src = initImg;

            d3.select('#'+div_rm_id).remove();
            // createInitImg()

            return;
        } else if (fileSize > 6) {
            // alert("Please choose a smaller size image (max 6MB).");
            input.value = null;
            input.setCustomValidity("File must not exceed 6 MB!");
            input.reportValidity();
            // preview.src = initImg;

            d3.select('#'+div_rm_id).remove();
            // createInitImg()

            return;
        } else if (/\.(jpe?g)$/i.test(file.name)) {
            const reader = new FileReader();

            reader.addEventListener(
                "load",
                function () {
                // convert image file to base64 string
                preview.src = reader.result;
                },
                false
            );

            if (file) {
                reader.readAsDataURL(file);
            }
        } else {
            // alert("Please choose a JPG/JPEG image.");
            input.value = null;
            input.setCustomValidity("File must be a JPG/JPEG image!");
            input.reportValidity();
            // preview.src = initImg;

            d3.select('#'+div_rm_id).remove();
            // createInitImg()

            return;
        }

    }


    function viewMultipleFiles(id) {
        input = document.getElementById(id);
        const file_len = input.files.length;
        // Init all prev-img
        // d3.selectAll('.prev-img').remove();

        for (let i = 0; i < file_len; i++) {
            let img_id = 'prev-img-' + id + "-" + (i+1);
            let btn_id = 'rm-img-' + id + "-" + (i+1);  // remove btn
            let div_id = 'div-prev-img-' + id + "-" + (i+1);  // div of prev-img and remove btn

            let newDiv = d3
                        .select('#prev-div')
                        .append('div')
                        .attr('class', 'prev-sub-div')
                        .attr('id', div_id);

            newDiv
            .append('img')
            .attr('height', prevSize)
            .attr('alt', 'Image preview')
            .attr('class', 'prev-img')
            .attr('id', img_id);

            newDiv
            .append("input")
            .attr("type","button")
            .attr('class', 'btn btn-remove-input')
            .attr('value', 'x')
            .attr('id', btn_id)
            .attr("onclick", 
                "document.getElementById('" + id + "').remove(); document.getElementById('" + div_id + "').remove();");

            try {
                previewFile(id, i);
            } catch { 
                // createInitImg()
                break; 
            }
        }
    }


    function resetValidity() {
        try {
            input.setCustomValidity("");
        } catch {};
    }


    function everyAddClick() {
        try {
            input.setCustomValidity("");
        } catch {};

        const ref_input = document.getElementById('inputfile'+id_n)
        ref_input.click();

        id_n += 1;
        // Duplicate input tag
        const clone_input = ref_input.cloneNode(true);
        clone_input.id = "inputfile"+id_n;
        document.getElementById("form-id").appendChild(clone_input);
    }



  // Show loading icon
  function showLoading() {
    let x = document.getElementById("loading-div");
      x.style.display = "block";
  }


</script>



{% endblock %}
